@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Simple scrollbar styling for dark mode */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b;
  /* Dark track */
}

::-webkit-scrollbar-thumb {
  background: #555;
  /* Darker thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}
