.filterBar {
  padding: 1rem 1.5rem;
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--border-primary);
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab {
  background: none;
  border: none;
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: var(--text-primary);
  border-bottom-color: var(--accent-primary);
}

.tags {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.tagButton {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  color: var(--text-secondary);
  padding: 0.4rem 0.8rem;
  border-radius: 16px;
  font-size: 0.875rem;
}

.tagButton:hover {
  border-color: var(--accent-primary);
  color: var(--text-primary);
}

.activeTag {
  background-color: var(--accent-primary);
  border-color: var(--accent-primary);
  color: white;
}

.showAllButton {
  background: none;
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagSearchContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tagSearchInput {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: 200px;
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.dateFilters {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dateInput {
    background-color: var(--background-secondary);
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.clearButton {
    background: none;
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    padding: 0.4rem 0.8rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.875rem;
    height: 100%;
}

.clearButton:hover {
    border-color: var(--accent-primary);
    color: var(--text-primary);
}

.sortControls {
    display: flex;
    gap: 0.5rem;
}

.characterCount {
  color: var(--text-secondary);
  font-size: 0.875rem;
}

.sortDropdown {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-primary);
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}