.uploadButton {
  background-color: var(--accent-primary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.uploadButton:hover {
  background-color: var(--accent-secondary);
}